{% extends "base.html" %}

{% block main-content %}
<div class="inner cover">
    <h1 class="cover-heading">A propos.</h1>
    <p class="lead">Quelques explications techniques.</p>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block">
                    <h3>Matériel</h3>
                    <ul>
                        <li>La supervision, l'analyse d'image et le contrôle du robot sont assurés
                            par une <hi>Raspberry Pi 3B+</hi></li>
                        <li>La caméra de prise de vue est une <hi>PiCam</hi></li>
                        <li>Le robot est un <hi>MBot</hi> (Makeblock) équipé de deux groupes de capteurs
                            de suivi de ligne</li>
                        <li>La liaison radio entre la Raspberry Pi et le MBot est assurée par des
                        <hi>modules 2.4GHz XBee</hi> 802.15.4</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block">
                    <h3>Logiciel Raspberry Pi</h3>
                    <ul>
                        <li>Développé en <hi>Python 3</hi></li>
                        <li>Serveur Web basé sur le <hi>framework Tornado</hi></li>
                        <li>Styling interface graphique avec <hi>Bootstrap 4</hi></li>
                        <li>Traitement d'image basé sur <hi>OpenCV</hi></li>
                        <li>Communications <hi>WebSockets</hi> pour les animations du détail du traitement d'image</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block">
                    <h3>Logiciel MBot</h3>
                    <ul>
                        <li>Développé en <hi>C++</hi></li>
                        <li>Support de la concurrence basé sur la librairie <hi>Reactduino</hi></li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
{% end %}

{% block local-js %}
<script>
    $(".carousel").carousel({
        interval: 15000
    });
</script>
{% end %}
