<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{ app_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="{{ static_url("fontawesome/css/fontawesome.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("fontawesome/css/solid.min.css") }}" rel="stylesheet">

    <!-- Application custom styles -->
    <link href="{{ static_url("css/taxibot.css") }}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        div.logo {
            position: fixed;
            bottom: 20px;
            left: 20px;
            opacity: 0.05;
            background: url("{{ static_url("img/pobot-logo-bw.png") }}") no-repeat;
            background-size: 300px;
            width: 300px;
            height: 280px;
        }
    </style>
    {% block local-css %}{% end %}
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">{{ app_title }}</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a {% if current_page == "home" %}class="nav-link active"{% else %} class="nav-link" href="/"{% end %}>Accueil</a>
                <a {% if current_page == "prog" %}class="nav-link active"{% else %} class="nav-link" href="/prog"{% end %}>Programmer le robot</a>
                <a {% if current_page == "cv" %}class="nav-link active"{% else %} class="nav-link" href="/cv"{% end %}>Traitement d'image</a>
                <a {% if current_page == "bot" %}class="nav-link active"{% else %} class="nav-link" href="/bot"{% end %}>Contrôle manuel</a>
                <a {% if current_page == "system" %}class="nav-link active"{% else %} class="nav-link" href="/sys"{% end %}>Système</a>
                <a {% if current_page == "about" %}class="nav-link active"{% else %} class="nav-link" href="/about"{% end %}>A propos</a>
            </nav>
        </div>
    </header>

    <main role="main">
        <div class="logo"></div>
        {% block main-content %}{% end %}
    </main>

    <footer class="mastfoot mt-auto d-flex justify-content-between">
        <div>
            Une application développée par POBOT
        </div>
        <div>
            Version : {{ version }}
        </div>
    </footer>
</div>
<script src="{{ static_url("js/jquery-3.3.1.min.js") }}"></script>
<script src="{{ static_url("js/popper.min.js") }}"></script>
<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
{% block local-js %}{% end %}
</body>
</html>
