{% extends "base.html" %}

{% block local-css %}
<style>
    .card {
        background-color: #404040;
    }
    .sensor-value {
        font-family: monospace;
        font-size: large;
        color: limegreen;
    }
    .sensor-label {
        text-align: right;
    }
    a > img:hover {
        filter: drop-shadow(0 0 5px #ffffff);
    }
    a:active > img {
        filter: brightness(4) drop-shadow(0 0 20px #ffffff);
    }
    span.lf-display {
        padding: 1px 3px;
        margin: 0 3px;
    }
    span.lf-line {
        background-color: black;
    }
    span.lf-ground {
        background-color: white;
    }
</style>
{% end %}

{% block main-content %}
<div class="inner cover">
    <div class="card-deck mt-5">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Déplacements</h5>
            </div>
            <div class="card-body">
                <table class="mx-auto">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <a href="#" class="btn-move" id="btn-forward" data-move="F">
                                <img src="/static/img/btn-forward.png">
                            </a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="btn-move" id="btn-turn-left" data-move="L">
                                <img src="/static/img/btn-turn-left.png">
                            </a>
                        </td>
                        <td>
                            <a href="#" id="btn-stop">
                                <img src="/static/img/btn-stop.png">
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn-move" id="btn-turn-right" data-move="R">
                                <img src="/static/img/btn-turn-right.png">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <label for="sequence">Séquence</label>
                <input id="sequence" class="mx-2" style="width: 10em;">
                <button id="execute" class="btn btn-outline-success disabled">
                    <i class="fa-solid fa-person-running"></i>Exécuter
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Capteurs</h5>
            </div>
            <div class="card-body">
                <div class="row py-1">
                    <div class="col sensor-label">Distance obstacle :</div>
                    <div id="disp-dist" class="col sensor-value">-</div>
                </div>
                <div class="row py-1">
                    <div class="col sensor-label">Suivi de ligne avant :</div>
                    <div id="disp-lf-front" class="col sensor-value">-</div>
                </div>
                <div class="row py-1">
                    <div class="col sensor-label">Suivi de ligne essieu :</div>
                    <div id="disp-lf-axle" class="col sensor-value">-</div>
                </div>
            </div>
            <div class="card-footer">
                <button id="btn-refresh" class="btn btn-outline-primary mx-5">
                    <i class="fa-solid fa-arrows-rotate"></i>Mettre à jour
                </button>
                <input type="checkbox" id="auto-refresh" class="mx-2"><label for="auto-refresh">automatique</label>
            </div>
        </div>
    </div>
    <div class="card-deck mt-5">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Evénements</h5>
            </div>
            <div class="card-body">
                <div class="row py-1">
                    <div id="event" class="col sensor-value">-</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block local-js %}
<script>
    const ws = new WebSocket("ws://" + window.location.host + "/ws/evt");

    const $btn_stop = $("#btn-stop");
    const $disp_lf_front = $("#disp-lf-front");
    const $disp_lf_axle = $("#disp-lf-axle");
    const $disp_dist = $("#disp-dist");
    const $chk_auto = $("#auto-refresh");
    const $inp_sequence = $("#sequence");
    const $btn_execute = $("#execute");

    const $disp_event = $("#event");

    $(".btn-move").click(function() {
        const elem = $(this)[0];
        $.post(
            "/bot/move",
            data={
                "moves": elem.getAttribute('data-move')
            },
            function () {
                $btn_stop.removeAttr('disabled');
            }
        )
    });

    $btn_stop.click(function () {
        $.post(
            "/bot/stop",
            function () {
                $btn_stop.attr('disabled', 1);
            }
        )
    });

    function line_sensor_display(raw) {
        let result = "";

        for (let state of raw) {
            if (state) {
                result = '<span class="lf-display lf-ground">&nbsp;</span>' + result;
            } else {
                result = '<span class="lf-display lf-line">&nbsp;</span>' + result;
            }

        }
        return result;
    }

    function refresh_sensors() {
        $.get(
            "/bot/sensors",
            function (data) {
                const values = JSON.parse(data);

                $disp_lf_front.html(line_sensor_display(values["line"]["front"]));
                $disp_lf_axle.html(line_sensor_display(values["line"]["axle"]));

                const dist = values["dist"]
                if (dist < 0x7fff) {
                    $disp_dist.text(dist + " cm");
                } else {
                    $disp_dist.text("-");
                }

                $disp_event.text("communication OK");
                $disp_event.removeClass("text-danger")
            }
        ).fail(function(jqXHR, textStatus, errorThrown){
            const resp = JSON.parse(jqXHR.responseText);
            switch (resp.error) {
                case "ERR_COMM":
                    $disp_event.text("Erreur communication");
                    break;
                default:
                    $disp_event.text("Erreur imprévue: " + resp.error());
                    break;
            }
            $disp_event.addClass("text-danger")
        });

        if ($chk_auto.is(":checked")) {
            setTimeout(refresh_sensors, 500);
        }
    }

    $("#btn-refresh").click(function () {
        refresh_sensors();
    });

    const valid_sequence = /^[FRL]+$/;

    $inp_sequence.on("input", function(evt){
        const seq = $inp_sequence.val().toUpperCase();
        $inp_sequence.val(seq);
        if (valid_sequence.test(seq)) {
            $btn_execute.removeClass("disabled");
            $btn_execute.prop("disabled", false);
            $inp_sequence.removeClass("text-danger");
        } else {
            $btn_execute.addClass("disabled");
            $btn_execute.prop("disabled", true);
            $inp_sequence.addClass("text-danger");
        }
    });

    $btn_execute.click(function(){
        $.post(
            "/bot/move",
            {
                "moves": $inp_sequence.val()
            }
        );
    });

    const event_labels = {
        "A": "Arrivé à destination",
        "F": "Déplacement rectiligne en cours",
        "R": "Pivotement à droite en cours",
        "L": "Pivotement à gauche en cours",
        "X": "Carrefour atteint",
        "O": "Obstacle rencontré",
        "T": "Ligne perdue",
        "S": "Mouvement démarré"
    };

    ws.onmessage = function (message) {
        const fields = message.data.split(' ', 2);
        if (fields[0] === 'EVT') {
            const evt = fields[1];
            if (evt in event_labels) {
                $disp_event.text(event_labels[evt]);
                $disp_event.removeClass("text-danger")
            }
        }
    };

</script>
{% end %}
