{% extends "base.html" %}

{% block local-css %}
<style>
    .masthead {
        margin-bottom: 2rem !important;
    }

    #display {
        height: 500px;
    }

    #img-cv {
        height: 460px;
    }

    #disp-state {
        margin-top: 0.5em;
        height: 1em;
    }

    div.pgm-card {
        font-size: small;
        vertical-align: middle;
        min-width: 50px;
    }

    div.card-img-wrapper {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: white;
        text-align: center;
        padding: 4px;
        margin-bottom: 3px;
    }

    img.pgm-card {
        max-width: 30px;
        max-height: 30px;
    }

    .category-label {
        font-weight: bold;
        padding-left: 3em;
        font-size: small;
        text-align: left;
    }

    .category-label-first {
        padding-left: 0;
        padding-right: 1rem;
    }

    .card {
        background-color: inherit;
    }
</style>
{% end %}

{% block main-content %}
<div class="card">
    <div class="card-header">
        <button id="btn-capture" class="btn btn-outline-success">
            <i class="fa-solid fa-camera"></i>Photographier
        </button>
        <button id="btn-step" class="btn btn-outline-primary">
            <i class="fa-solid fa-forward"></i>Etape suivante
        </button>
        <button id="btn-reset" class="btn btn-outline-danger">
            <i class="fa-solid fa-rotate-left"></i>Recommencer
        </button>
        <div id="disp-state" class="text-info"></div>
    </div>
    <div class="card-body" id="display">
        <img id="img-cv" src="" class="invisible" alt="OpenCV result">
    </div>
    <div class="card-footer text-muted d-flex justify-content-around">
        <div class="d-flex">
            <div class="category-label category-label-first">Symboles<br/>programme</div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/arrow_left.png">
                </div>
                <br>LFT
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/arrow_forward.png">
                </div>
                <br>FWD
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/arrow_right.png">
                </div>
                <br>RGT
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/digit_2.png">
                </div>
                <br>RP2
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/digit_3.png">
                </div>
                <br>RP3
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/digit_4.png">
                </div>
                <br>RP4
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/letter_A.png">
                </div>
                <br>CPA
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/letter_B.png">
                </div>
                <br>CPB
            </div>
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/letter_C.png">
                </div>
                <br>CPC
            </div>
        </div>
        <div class="d-flex">
            <div class="pgm-card">
                <div class="card-img-wrapper">
                    <img class="pgm-card" src="/cv/refs/point.png">
                </div>
                <br>Repère alignement
            </div>
        </div>
    </div>
</div>
{% end %}

{% block local-js %}
<script>
    const ws = new WebSocket("ws://" + window.location.host + "/ws/cv");
    const $img = document.getElementById("img-cv");
    const $btn_capture = document.getElementById("btn-capture");
    const $btn_step = document.getElementById("btn-step");
    const $btn_reset = document.getElementById("btn-reset");
    const $state_display = document.getElementById("disp-state");

    const state_labels = {
        "UNDEFINED": "",
        "ERROR": "erreur",
        "LOADED": "photo du plateau récupérée",
        "ROTATED": "image retournée",
        "GRAY_SCALED": "image convertie en niveaux de gris",
        "ORIG_BLURRED": "flou appliqué à l'image",
        "ORIG_THRESHOLDED": "seuillage appliqué",
        "ORIG_CONTOURED": "contours détectés",
        "MARKERS_FOUND": "repères de recadrage identifiés",
        "DEWARPED": "image recadrée",
        "DEWARPED_THRESHOLDED": "seuillage appliqué",
        "DEWARPED_CONTOURED": "contours détectés",
        "COMPLETE": "traitement terminé"
    };

    $btn_step.setAttribute("disabled", "1");
    $btn_reset.setAttribute("disabled", "1");

    $btn_capture.addEventListener('click', function () {
        ws.send("cv:capture");
        $state_display.innerHTML = "Image en cours d'acquisition...";
    });

    $btn_step.addEventListener('click', function () {
        ws.send("cv:step");
    });

    $btn_reset.addEventListener('click', function () {
        ws.send("cv:reset");
        $btn_capture.removeAttribute("disabled");
    });

    ws.onopen = function () {
        {#console.log("WS opened");#}
    };

    ws.onmessage = function (evt) {
        if (evt.data.startsWith("OK:State.")) {
            let new_state = evt.data.substr(9);

            $state_display.innerHTML = state_labels[new_state];

            if (new_state === "UNDEFINED") {
                $img.classList.add("invisible");
                $btn_step.setAttribute("disabled", "1");
                $btn_reset.setAttribute("disabled", "1");

            } else {
                $btn_capture.setAttribute("disabled", "1");
                $btn_step.removeAttribute("disabled");
                $btn_reset.removeAttribute("disabled");

                $img.setAttribute("src", "/cv/img");
                $img.classList.remove("invisible");
            }

            if (new_state === "COMPLETE") {
                $btn_step.setAttribute("disabled", "1");
            }

        } else if (evt.data.startsWith("ERR:")) {
            const err_msg = evt.data.substr(4);

            $btn_step.setAttribute("disabled", "1");
            $btn_reset.removeAttribute("disabled");
            $state_display.innerHTML = "ERREUR : " + err_msg;

            $img.setAttribute("src", "/cv/img");
        }
    };
</script>
{% end %}
