{% extends "base.html" %}

{% block main-content %}
<div class="inner cover">
    <h1 class="cover-heading">Programmer sans clavier ni souris.</h1>
    <p class="lead">Initiation aux rudiments de l'algorithmique.</p>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block">
                    <p>L'objectif est de <hi>guider un taxi autonome</hi> dans une grande ville,
                        en lui donnant les instructions de route à la manière d'un GPS.</p>
                    <p>Le <hi>programme</hi> à écrire est la <hi>succession de consignes</hi>
                        à suivre à chaque intersection
                        <em class="text-muted">(continuer tout droit, tourner à droite...)</em>
                        afin de rejoindre la destination le plus rapidement possible,
                        et sans s'engager dans une rue bloquée.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block">
                    <p>Les <hi>instructions</hi> du langage de programmation sont représentées
                        par des cartes sur lesquelles sont dessinés différents symboles qui représentent
                        les indications de route disponibles.</p>
                    <p>Ces cartes sont <hi>disposées en rangées</hi> pour définir des <hi>séquences</hi>.</p>
                    <p></p>L'ensemble du programme est constitué d'une ou plusieurs séquences, dont on enchaîne
                    les instructions l'une après l'autre lors de <hi>l'exécution</hi>.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block">
                    <p>Selon le problème à résoudre, la longueur maximale d'une rangée peut être insuffisante
                        pour la totalité des instructions.
                        On peut alors créer des <hi>blocs complémentaires</hi>
                        en disposant leurs cartes sur les rangées <hi>A</hi> à <hi>C</hi>.</p>
                    <p>Ces rangées représentent des <hi>procédures</hi>, ou sous-programmes,
                        la rangée supérieure étant le <hi>programme principal</hi>,
                        exécuté au démarrage.</p>
                    <p>Pour exécuter les instructions d'une procédure au sein d'une séquence,
                        on l'<hi>appelle</hi> en utilisant la carte portant sa lettre,
                        de la même manière qu'on aurait placé une instruction de route.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
{% end %}

{% block local-js %}
<script>
    $(".carousel").carousel({
        interval: 30000
    });
</script>
{% end %}
