{% extends "base.html" %}

{% block local-css %}
<style>
    .masthead {
        margin-bottom: 2rem !important;
    }

    div.code {
        background-color: rgba(30, 40, 30, .8);
        max-height: 30em;
        overflow-y: scroll;
        text-align: left;
        padding: 10px;
        margin-top: 20px;
    }

    #result {
        margin-top: 20px;
    }

    #result, #errors, #sequence {
        text-align: left;
    }

    #errors {
        max-height: 6rem;
        overflow-y: scroll;
        outline: 1px solid red;
        outline-offset: 7px;
    }

    #program {
        padding-left: 3em;
    }

    #main {
        color: lime;
    }

    #subs {
        color: cyan;
    }

    #moves {
        color: cornflowerblue;
    }

    #btn_bot_stop {
        margin-left: 1rem;
    }

    div.btn-strip > div {
        display: inline-block;
    }

    div.board-row-label {
        font-size: large;
        font-weight: bold;
        height: 100px;
        text-align: center;
        padding-top: 25px;
    }

    #img-board {
        height: 400px;
    }

    #section-footer {
        text-align: center;
        margin-top: 1rem;
    }
</style>
{% end %}

{% block main-content %}
<div class="inner cover">
    <div class="btn-strip my-3">
        <div class="btn-group">
            <button id="btn_analyze" class="btn btn-outline-primary btn-dyn">
                <i class="fa-solid fa-gears"></i>Analyser le programme
            </button>
            <button id="btn_bot_prepare" class="btn btn-outline-warning">
                <i class="fa-solid fa-robot"></i>Préparer le robot
            </button>
            <button id="btn_execute" class="btn btn-outline-success btn-dyn" disabled>
                <i class="fa-solid fa-person-running"></i>Exécuter le programme
            </button>
        </div>
        <div>
            <button id="btn_bot_stop" class="btn btn-outline-danger btn-dyn" disabled>
                <i class="fa-solid fa-hand"></i>Arrêt d'urgence
            </button>
        </div>
    </div>
    <div id="msg_waiting" class="d-none msg alert alert-info justify-content-center">
        <div class="spinner-border mx-4"></div>
        <div class="my-1">Image en cours d'acquisition et de traitement...</div>
    </div>
    <div id="msg_cv_error" class="d-none msg alert alert-danger">
        <i class="fa-solid fa-bomb"></i>Le traitement d'image a échoué : <span id="cv-error-detail"></span>
    </div>
    <div id="msg_invalid" class="d-none msg alert alert-danger">
        <i class="fa-solid fa-xmark"></i>Ce programme n'est pas valide.
    </div>
    <div id="msg_success" class="d-none msg alert alert-success">
        <i class="fa-solid fa-thumbs-up"></i>
        <span id="msg_success_text"></span>
    </div>
    <div id="msg_bot" class="d-none msg alert alert-success">
        <i class="fa-solid fa-robot"></i>
        <span id="msg_bot_text"></span>
    </div>
    <div id="msg_bot_stopped" class="d-none msg alert alert-danger">
        Commande d'interruption envoyée.
    </div>
    <div id="board-display" class="row d-none my-3">
        <div class="col-2 offset-1 text-muted pr-0">
            <div class="board-row-label">Programme<br>principal</div>
            <div class="board-row-label">Procédure<br>A</div>
            <div class="board-row-label">Procédure<br>B</div>
            <div class="board-row-label">Procédure<br>C</div>
        </div>
        <div class="col-auto pl-0">
            <img id="img-board" src="">
        </div>
    </div>
    <div id="msg_sequence" class="d-none msg">
        <div>
            Séquence de mouvements : <span id="moves"></span>
        </div>
    </div>
    <div id="errors" class="text-danger d-none">
        <h5><span id="error_count"></span> erreur<span class="plural">s</span> détectée<span class="plural">s</span> :
        </h5>
        <ul id="error_list"></ul>
    </div>
    <div id="section-footer" class="d-none">
        <div class="d-flex justify-content-between">
            <div id="stats" class="text-muted small">
                <div class="stats-item">Capture : <span id="capture-time"></span></div>
                <div class="stats-item">Analyse : <span id="analyze-time"></span></div>
            </div>
            <div>
                <button id="btn_clear" class="btn btn-outline-warning">
                    <i class="fa-solid fa-eraser"></i>Effacer
                </button>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block local-js %}
<script>
    const ws = new WebSocket("ws://" + window.location.host + "/ws/evt");

    const $errors = document.getElementById("errors");
    const $error_list = document.getElementById("error_list");
    const $error_count = document.getElementById("error_count");

    const $moves_display = document.getElementById("moves");

    const $btn_analyze = document.getElementById("btn_analyze");
    const $btn_execute = document.getElementById("btn_execute");
    const $btn_bot_stop = document.getElementById("btn_bot_stop");
    const $btn_bot_prepare = document.getElementById("btn_bot_prepare");
    const $btn_clear = document.getElementById("btn_clear");

    const $msg_waiting = document.getElementById("msg_waiting");
    const $msg_cv_error = document.getElementById("msg_cv_error");
    const $cv_error_detail = document.getElementById("cv-error-detail");
    const $msg_invalid = document.getElementById("msg_invalid");
    const $msg_success = document.getElementById("msg_success");
    const $msg_success_text = document.getElementById("msg_success_text");
    const $msg_bot = document.getElementById("msg_bot");
    const $msg_bot_text = document.getElementById("msg_bot_text");
    const $msg_bot_stopped = document.getElementById("msg_bot_stopped");
    const $msg_sequence = document.getElementById("msg_sequence");
    const $msg_all = document.querySelectorAll("div.msg");

    const $bot_state = document.getElementById("bot_state");

    const $board_display = document.getElementById("board-display");
    const $img_board = document.getElementById("img-board");
    const $section_footer = document.getElementById("section-footer");
    const $capture_time = document.getElementById("capture-time");
    const $analyze_time = document.getElementById("analyze-time");

    let moves = null;

    $btn_analyze.addEventListener('click', function () {
        console.log("analyze button clicked");
        for (const elt of $msg_all) {
            elt.classList.add("d-none");
        }
        $msg_waiting.classList.add("d-flex");
        $section_footer.classList.add("d-none");

        document.querySelector("body").style.cursor = "progress";

        for (const elt of document.getElementsByClassName("btn-dyn")) {
            elt.setAttribute("disabled", "1");
        }

        $board_display.classList.add("d-none");

        $errors.classList.add("d-none");
        $error_list.replaceChildren();

        $.get(
            "/prog/analyze",
            function (data) {
                const result = JSON.parse(data);
                const pgm = result.pgm;
                const stats = result.stats;
                const cv_error = result.error;

                console.log("image analyze complete");

                $msg_waiting.classList.remove("d-flex");

                if (pgm) {
                    let error_count = 0;

                    const pgm_errors = pgm.errors;
                    if (pgm_errors) {
                        const err_locs = Object.keys(pgm_errors);
                        for (let loc of err_locs) {
                            let loc_disp;
                            if (loc === "main") {
                                loc_disp = "programme principal";
                            } else {
                                loc_disp = "procédure " + loc;
                            }
                            let inv_cells = "";
                            const seq_errors = pgm_errors[loc];
                            for (let err of seq_errors) {
                                inv_cells += (err[0] + 1).toString() + ", ";
                            }
                            inv_cells = inv_cells.slice(0, -2);
                            const detail = (seq_errors.length > 1) ?
                                "instructions non reconnues aux positions " + inv_cells :
                                "instruction non reconnue à la position " + inv_cells;
                            const liElt = document.createElement("li");
                            liElt.appendChild(document.createTextNode(`${loc_disp} : ${detail}`));
                            $error_list.appendChild(liElt);
                            error_count++;
                        }

                    }
                    const compile_errors = result.compile_errors;
                    if (compile_errors) {
                        for (let error of compile_errors) {
                            const liElt = document.createElement('li');
                            liElt.appendChild(document.createTextNode(error));
                            $error_list.appendChild(liElt);
                            error_count++
                        }
                    }

                    if (error_count === 0) {
                        $msg_success.classList.remove("d-none");
                        $msg_success_text.innerHTML = "Ce programme est valide et peut être exécuté par le robot.";

                        moves = result.moves;
                        $moves_display.innerHTML = moves;

                        $msg_sequence.classList.remove("d-none");

                        $btn_execute.removeAttribute("disabled");

                    } else {
                        $msg_invalid.classList.remove("d-none");

                        $error_count.innerHTML = error_count;
                        const plurals = document.getElementsByClassName("plural");
                        if (error_count > 1) {
                            for (const elt of plurals) {
                                elt.classList.remove("d-none");
                            }
                        } else {
                            for (const elt of plurals) {
                                elt.classList.add("d-none");
                            }
                        }
                        $errors.classList.remove("d-none");
                        moves = null;
                    }

                    $img_board.setAttribute("src", "/prog/img");
                    $board_display.classList.remove("d-none");

                    $capture_time.innerHTML = `${stats.capture_time.toFixed(3)} s`;
                    $analyze_time.innerHTML = `${stats.analyze_time.toFixed(3)} s`;

                } else {
                    // image processing error
                    $cv_error_detail.innerHTML = cv_error;
                    $msg_cv_error.classList.remove(("d-none"));
                }

                document.querySelector("body").style.cursor = "default";
                $btn_analyze.removeAttribute("disabled");
                $section_footer.classList.remove("d-none");
            }
        );
    });

    $btn_execute.addEventListener('click', function () {
        $.post(
            "/prog/execute",
            data = {
                "moves": moves
            },
            function (data) {
                for (const elt of $msg_all) {
                    elt.classList.add("d-none");
                }
                $msg_success_text.innerHTML = "Séquence envoyée au robot.";
                $msg_success.classList.remove("d-none");
                {#$msg_sequence.removeClass("d-none");#}

                $btn_bot_stop.removeAttribute("disabled");
            }
        );
    });

    $btn_bot_stop.addEventListener('click', function () {
        $.post(
            "/prog/stop",
            function () {
                $btn_stop.setAttribute("disabled", "1");
                $btn_execute.setAttribute("disabled", "1");

                $("div.msg").classList.add("d-none");
                $msg_bot_stopped.classList.remove("d-none");

                $result.classList.add("d-none");
                $main_stmts.replaceChildren();

                $sequence_display.classList.add("d-none");
            }
        );
    });

    $btn_bot_prepare.addEventListener('click', function () {
        $.post(
            "/prog/execute",
            data = {
                "moves": "F"
            }
        );
    });

    $btn_clear.addEventListener('click', function () {
        $board_display.classList.add("d-none");
        $msg_all.classList.add("d-none");
        $(".btn-dyn").setAttribute("disabled", "1");
        $btn_analyze.removeAttribute("disabled");
        $section_footer.classList.add("d-none");
        $errors.classList.add("d-none");
        $error_list.replaceChildren();
    });

    ws.onopen = function () {
        {#console.log("ws opened");#}
    };

    ws.onclose = function () {
        {#console.log("ws closed");#}
    };

    const event_labels = {
        "A": "Je suis arrivé à destination",
        "F": "Je continue tout droit",
        "R": "Je tourne à droite",
        "L": "Je tourne à gauche",
        "X": "Je suis arrivé au carrefour"
    };

    ws.onmessage = function (message) {
        const fields = message.data.split(' ', 2);
        if (fields[0] === 'EVT') {
            const evt = fields[1];
            try {
                $msg_bot_text.innerHTML = 'TaxiBot a dit : "' + event_labels[evt] + '"';
                $msg_bot.classList.remove("d-none");
                $msg_success.classList.add("d-none");
            } catch (e) {
            }
        }
    };

    ws.onerror = function () {
        console.log("ws error");
    }

</script>
{% end %}
