{% extends "base.html" %}

{% block main-content %}
<div class="inner cover">
    <div class="card-header">
        <h4>Configuration et contrôle système</h4>
    </div>
    <div class="card-body mx-5 text-left" id="display">
        <div class="mb-4">
            <h5>Informations système</h5>
            <div class="row">
                <div class="col col-6 text-muted">Température CPU</div>
                <div id="temperature-cpu" class="col message text-info"></div>
            </div>
            <div class="form-row align-items-center text-muted mt-2">
                <div class="col">Ventilation</div>
                <div class="col form-row">
                    <div class="form-check form-check-inline cooling-control col">
                        <input type="radio"
                               name="cooling-mode"
                               value="on"
                               id="cooling-on"
                               class="form-check-input"
                        ><label for="cooling-on" class="form-check-label">on</label>
                        <input type="radio"
                               name="cooling-mode"
                               value="off"
                               id="cooling-off"
                               class="form-check-input"
                        ><label for="cooling-off" class="form-check-label">off</label>
                        <input type="radio"
                               name="cooling-mode"
                               value="auto"
                               id="cooling-auto"
                               class="form-check-input"
                        ><label for="cooling-auto" class="form-check-label">auto</label>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center text-muted"
                 id="auto-cooling-settings"
            >
                <div class="col">Mode automatique</div>
                <div class="col form-row temp-settings">
                    <label for="cooling-auto-on"
                           class="col-form-label text-right">activer si t&deg; &gt;</label>
                    <div class="col">
                        <input type="number"
                               class="form-control"
                               id="cooling-auto-on"
                               name="cooling-auto-on">
                    </div>
                    <label for="cooling-auto-off"
                           class="col-form-label text-right">arrêter si t&deg; &lt;</label>
                    <div class="col">
                        <input type="number"
                               class="form-control"
                               id="cooling-auto-off"
                               name="cooling-auto-off">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <button id="btn-save-cooling-settings" class="btn btn-outline-primary btn-block">
                        <i class="fa-solid fa-save"></i>Enregistrer
                    </button>
                    <div id="msg-cooling-settings-saved" class="text-success d-none justify-content-center my-2">
                        Configuration enregistrée.
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <h5>Configuration traitement d'image</h5>
            <div class="row">
                <div class="col col-6 text-muted">Seuil de détection des symboles</div>
                <div id="detection-threshold" class="col message text-info"></div>
            </div>
            <div class="row">
                <div class="col col-6 text-muted">Largeur mini contours</div>
                <div id="min-contour-width" class="col message text-info"></div>
            </div>
            <div class="row">
                <div class="col col-6 text-muted">Hauteur mini contours</div>
                <div id="min-contour-height" class="col message text-info"></div>
            </div>
        </div>
        <div class="mb-4">
            <h5>Etalonnage caméra</h5>
            <div class="row">
                <div class="col col-6 text-muted">Exposition > gain numérique</div>
                <div id="expo_digital_gain" class="col message text-info"></div>
            </div>
            <div class="row">
                <div class="col col-6 text-muted">Exposition > gain analogique</div>
                <div id="expo_analog_gain" class="col message text-info"></div>
            </div>
            <div class="row">
                <div class="col col-6 text-muted">Balance des blancs > gain rouge</div>
                <div id="awb_red_gain" class="col message text-info"></div>
            </div>
            <div class="row">
                <div class="col col-6 text-muted">Balance des blancs > gain bleu</div>
                <div id="awb_blue_gain" class="col message text-info"></div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <div>
                        <button id="btn-calibrate-camera" class="btn btn-outline-success btn-block">
                            <i class="fa-solid fa-arrows-rotate"></i>Refaire l'étalonnage
                        </button>
                    </div>
                    <div id="msg-calibrating"
                         class="text-success d-none justify-content-center">
                        <div class="spinner-border mx-4"></div>
                        <div class="my-1">Etalonnage en cours...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <h5>Actions</h5>
            <div class="row mt-2">
                <div class="col text-center">
                    <div id="shutdown-start">
                        <button id="btn-shutdown" class="btn btn-outline-danger btn-block">
                            <i class="fa-solid fa-power-off"></i>Eteindre TaxiBot
                        </button>
                    </div>
                    <div id="shutdown-confirm" class="d-none">
                        <form>
                            <div class="form-group row">
                                <label for="password" class="col col-form-label mt-1">Code de confirmation</label>
                                <div class="col">
                                    <input type="password" class="form-control" id="inp-confirm-code">
                                </div>
                                <div class="col">
                                    <button id="btn-shutdown-confirm"
                                            class="btn btn-outline-primary btn-block"
                                            type="button"
                                    >
                                        <i class="fa-solid fa-check"></i>Confirmer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="msg-shutdown">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block local-js %}
<script>
    const $div_shutdown_start = document.getElementById("shutdown-start");
    const $btn_shutdown = document.getElementById("btn-shutdown");
    const $btn_shutdown_confirm = document.getElementById("btn-shutdown-confirm");
    const $div_shutdown_confirm = document.getElementById("shutdown-confirm");
    const $inp_confirm_code = document.getElementById("inp-confirm-code");
    const $msg_shutdown = document.getElementById("msg-shutdown");

    const $temperature_cpu = document.getElementById("temperature-cpu");
    const $cooling_auto_on = document.getElementById("cooling-auto-on");
    const $cooling_auto_off = document.getElementById("cooling-auto-off");
    const $auto_cooling_settings = document.getElementById("auto-cooling-settings");
    const $btn_save_cooling_settings = document.getElementById("btn-save-cooling-settings");
    const $msg_cooling_settings_saved = document.getElementById("msg-cooling-settings-saved");

    const $detection_threshold = document.getElementById("detection-threshold");
    const $min_contour_height = document.getElementById("min-contour-height");
    const $min_contour_width = document.getElementById("min-contour-width");

    const $expo_digital_gain = document.getElementById("expo_digital_gain");
    const $expo_analog_gain = document.getElementById("expo_analog_gain");
    const $awb_red_gain = document.getElementById("awb_red_gain");
    const $awb_blue_gain = document.getElementById("awb_blue_gain");
    const $btn_calibrate = document.getElementById("btn-calibrate-camera");
    const $msg_calibrating = document.getElementById("msg-calibrating");

    $btn_shutdown.addEventListener('click', function () {
        $div_shutdown_start.classList.add("d-none");
        $div_shutdown_confirm.classList.remove("d-none");
    });

    $btn_shutdown_confirm.addEventListener('click', function () {
        fetch(
            '/sys/shutdown', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    confirmation_code: $inp_confirm_code.value
                })
            }
        ).then((response) => {
            if (response.ok) {
                $msg_shutdown.textContent = "Séquence d'arrêt du système en cours d'exécution...";
                $msg_shutdown.classList.remove("text-danger");
                $msg_shutdown.classList.add("text-warning");

                // add some visual feedback to tell we are going to sleep now
                setTimeout(
                    function () {
                        document.body.classList.add("invisible");
                    },
                    10000
                );

            } else {
                $msg_shutdown.classList.remove("text-success");
                $msg_shutdown.classList.add("text-danger");
                if (response.status === 403) {
                    $msg_shutdown.textContent = "Code de confirmation invalide. Commande non autorisée.";
                } else {
                    $msg_shutdown.textContent = `Erreur interne ${response.status}`;
                }
                setTimeout(
                    function () {
                        $msg_shutdown.textContent = '';
                        $div_shutdown_start.classList.remove("d-none");
                    },
                    5000
                );
            }
            $div_shutdown_confirm.classList.add("d-none");
        });
    })

    for (const elt of document.querySelectorAll('input[name="cooling-mode"]')) {
        elt.addEventListener('change', () => {
            const cooling_mode = document.querySelector('input[name="cooling-mode"]:checked').value;
            if (cooling_mode === "auto") {
                $auto_cooling_settings.classList.remove("d-none");
            } else {
                $auto_cooling_settings.classList.add("d-none");
            }
        });
    }

    function displayTemp() {
        fetch(
            '/sys/temp'
        ).then((response) => {
            return response.json();
        }).then((data) => {
            $temperature_cpu.textContent = `${data.temp} °C`;
        }).catch(() => {
            $temperature_cpu.textContent = "---";
        });
        setTimeout(displayTemp, 10000);
    }

    function displayConfigurationAndSettings() {
        fetch(
            '/sys/config'
        ).then((response) => {
            return response.json();
        }).then((data) => {
            $detection_threshold.textContent = data.detection_threshold;
            $min_contour_height.textContent = data.min_contour_height;
            $min_contour_width.textContent = data.min_contour_width;
        });

        fetch(
            '/sys/settings'
        ).then((response) => {
            return response.json();
        }).then((data) => {
            for (const elt of document.querySelectorAll('input[name="cooling-mode"]')) {
                elt.checked = elt.value === data.cooling_mode;
            }
            $cooling_auto_on.value = data.cooling_auto_on;
            $cooling_auto_off.value = data.cooling_auto_off;

            if (data.cooling_mode === "auto") {
                $auto_cooling_settings.classList.remove("d-none");
            } else {
                $auto_cooling_settings.classList.add("d-none");
            }
        });
    }

    function getCameraSettings() {
        fetch(
            '/sys/camera'
        ).then((response) => {
            return response.json();
        }).then((data) => {
            displayCameraSettings(data);
        })
    }

    function displayCameraSettings(data) {
        console.log(data);
        if (data !== null) {
            $expo_digital_gain.textContent = data.expo_digital_gain;
            $expo_analog_gain.textContent = data.expo_analog_gain;
            $awb_red_gain.textContent = data.awb_red_gain;
            $awb_blue_gain.textContent = data.awb_blue_gain;
        } else {
            $expo_digital_gain.textContent = "---";
            $expo_analog_gain.textContent = "---";
            $awb_red_gain.textContent = "---";
            $awb_blue_gain.textContent = "---";
        }
    }

    $btn_calibrate.addEventListener('click', function () {
        $btn_calibrate.classList.add("d-none");
        displayCameraSettings(null);
        $msg_calibrating.classList.add("d-flex");
        fetch(
            '/sys/calibrate', {
                method: 'POST'
            }
        ).then((response) => {
            return response.json();
        }).then((data) => {
            displayCameraSettings(data);
            $msg_calibrating.classList.remove("d-flex");
            $btn_calibrate.classList.remove("d-none");
        });
    });

    $btn_save_cooling_settings.addEventListener('click', function () {
        const cooling_mode = document.querySelector('input[name="cooling-mode"]:checked').value;
        const data = {
            "cooling_mode": cooling_mode,
            "cooling_auto_on": Number($cooling_auto_on.value),
            "cooling_auto_off": Number($cooling_auto_off.value),
        };
        fetch(
            '/sys/settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            }
        ).then((response) => {
            if (response.ok) {
                $msg_cooling_settings_saved.classList.remove("d-none");
                $btn_save_cooling_settings.classList.add("d-none");

                setTimeout(() => {
                    $msg_cooling_settings_saved.classList.add("d-none");
                    $btn_save_cooling_settings.classList.remove("d-none");
                }, 3000)
            }
        });
    });

    displayTemp();

    displayConfigurationAndSettings();
    getCameraSettings();

</script>
{% end %}

{% block local-css %}
<style>
    .message {
        text-align: right;
    }

    #msg-calibrating {
        margin-bottom: 6px;
    }

    .cooling-control {
        justify-content: flex-end;
        margin-right: 0 !important;
    }

    .cooling-control input {
        margin-left: 2rem !important;
    }

    .temp-settings input {
        background-color: dimgray;
        color: white;
    }
</style>
{% end %}